# NHS Staffing Data

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('display.max_columns', 50)

## Staffing Data (April 2017)

This gives us a breakdown between EU and UK; we would rather have EU and non-EU (including UK), but it's a good starting point.

### Load Spreadsheet

In [ ]:
raw_staff = pd.read_excel(
    'input/HCHS_staff_with_an_EU_or_UK_nationality__by_staff_group_and_organisation.xls',
    skiprows=4, skipfooter=23)
raw_staff.head()

In [ ]:
raw_staff.tail()

In [ ]:
raw_staff.columns = [
    'region',
    'region_name',
    'organisation_name',
    'organisation',
    'all_staff_eu',
    'hchs_doctors_eu',
    'nurses_visitors_eu',
    'other_eu',
    'all_staff_uk',
    'hchs_doctors_uk',
    'nurses_visitors_uk',
    'other_uk'
]

In [ ]:
raw_staff.head()

In [ ]:
assert raw_staff.organisation_name[raw_staff.shape[0] - 1] == 'Yeovil District Hospital NHS Foundation Trust'

In [ ]:
total_staff = raw_staff[raw_staff.region == 'England']
raw_staff = raw_staff[3:]
raw_staff.head()

In [ ]:
row_is_region = ~raw_staff.region.isna()
raw_staff.region[row_is_region]

In [ ]:
(raw_staff.region[row_is_region].str.strip() != raw_staff.region[row_is_region]).sum()

In [ ]:
(raw_staff.region_name[row_is_region].str.strip() != raw_staff.region_name[row_is_region]).sum()

In [ ]:
row_is_region.sum()

In [ ]:
region_staff = raw_staff[row_is_region].drop(columns=['organisation_name', 'organisation'])
region_staff.head()

In [ ]:
raw_staff.region = raw_staff.region.fillna(method='ffill')
raw_staff.region_name = raw_staff.region_name.fillna(method='ffill')
staff = raw_staff[~row_is_region]
staff.head()

In [ ]:
assert row_is_region.sum() == staff.organisation.isna().sum() + 1

In [ ]:
staff = staff[~staff.organisation.isna()]

### Check Staff Data  

#### Organisation Code and Name

In [ ]:
[
    staff.shape[0],
    staff.organisation.nunique(),
    staff.organisation_name.nunique(),
    staff.organisation.isna().sum(),
    staff.organisation_name.isna().sum()
]

In [ ]:
[
    (staff.organisation.str.strip() != staff.organisation).any(),
    (staff.organisation_name.str.strip() != staff.organisation_name).any()
]

#### Totals

The totals in the spreadsheet don't quite match the totals, even at region level. The notes say "Headcount totals are unlikely to equal the sum of components due to some staff working in more than one role."

In [ ]:
staff.describe()

In [ ]:
staff.sum()

In [ ]:
total_staff

In [ ]:
staff.groupby(['region', 'region_name']).sum()

In [ ]:
region_staff

### Trusts and CCGs

Trusts have IDs that seem to start with R or T.

In [ ]:
[
    staff.organisation.str.startswith('R').sum(),
    staff.organisation.str.startswith('T').sum(),
    staff.organisation_name.str.contains('Trust').sum()
]

In [ ]:
staff[staff.organisation_name.str.contains('Trust') & ~staff.organisation.str.startswith('R')]

In [ ]:
[
    staff.organisation.str.match(r'^[RT]').sum(),
    (~staff.organisation.str.match(r'^[RT]')).sum(),
    staff.organisation_name.str.contains('CCG').sum()
]

In [ ]:
staff[~staff.organisation.str.match('^[RT]')].head()

In [ ]:
staff_trusts = staff[staff.organisation.str.match(r'^[RT]')]
staff_trusts.shape

## Staffing Data Sep 2016

The same data, but a bit earlier; used for comparison below.

In [ ]:
raw_staff_sep_2016 = pd.read_excel(
    'input/EU_and_UK_nationals_by_staff_group_and_organisation__September_2016.xlsx',
    skiprows=4, skipfooter=23)
raw_staff_sep_2016.head()

In [ ]:
raw_staff_sep_2016.tail()

In [ ]:
raw_staff_sep_2016.columns = [
    'region_name',
    'organisation_name',
    'organisation',
    'all_staff_eu',
    'hchs_doctors_eu',
    'nurses_visitors_eu',
    'other_eu',
    'all_staff_uk',
    'hchs_doctors_uk',
    'nurses_visitors_uk',
    'other_uk',
    'blank_11',
    'blank_12',
]

In [ ]:
raw_staff_sep_2016.head()

In [ ]:
assert raw_staff_sep_2016.organisation_name[raw_staff_sep_2016.shape[0] - 1] == \
    'Yeovil District Hospital NHS Foundation Trust'

In [ ]:
[
    raw_staff_sep_2016.blank_11.unique(),
    raw_staff_sep_2016.blank_12.unique()
]

In [ ]:
raw_staff_sep_2016.drop(columns=['blank_11', 'blank_12'], inplace=True)

In [ ]:
total_staff_sep_2016 = raw_staff_sep_2016[raw_staff_sep_2016.region_name == 'England']
raw_staff_sep_2016 = raw_staff_sep_2016[2:]
raw_staff_sep_2016.head()

In [ ]:
row_sep_2016_is_region = ~raw_staff_sep_2016.region_name.isna()
raw_staff_sep_2016.region_name[row_sep_2016_is_region]

In [ ]:
(raw_staff_sep_2016.region_name[row_sep_2016_is_region].str.strip() != \
     raw_staff_sep_2016.region_name[row_sep_2016_is_region]).sum()

In [ ]:
row_sep_2016_is_region.sum()

In [ ]:
region_staff_sep_2016 = raw_staff_sep_2016[row_sep_2016_is_region].drop(
    columns=['organisation_name', 'organisation'])
region_staff_sep_2016.head()

In [ ]:
raw_staff_sep_2016.region_name = raw_staff_sep_2016.region_name.fillna(method='ffill')
staff_sep_2016 = raw_staff_sep_2016[~row_sep_2016_is_region]
staff_sep_2016.head()

In [ ]:
assert row_sep_2016_is_region.sum() == staff_sep_2016.organisation.isna().sum() + 1

In [ ]:
staff_sep_2016 = staff_sep_2016[~staff_sep_2016.organisation.isna()]

### Check Staff Data  

#### Organisation Code and Name

In [ ]:
[
    staff_sep_2016.shape[0],
    staff_sep_2016.organisation.nunique(),
    staff_sep_2016.organisation_name.nunique(),
    staff_sep_2016.organisation.isna().sum(),
    staff_sep_2016.organisation_name.isna().sum()
]

In [ ]:
[
    (staff_sep_2016.organisation.str.strip() != staff_sep_2016.organisation).any(),
    (staff_sep_2016.organisation_name.str.strip() != staff_sep_2016.organisation_name).any()
]

#### Totals

The totals in the spreadsheet don't quite match the totals, even at region level. The notes say "Headcount totals are unlikely to equal the sum of components due to some staff working in more than one role."

In [ ]:
staff_sep_2016.describe()

In [ ]:
staff_sep_2016.sum()

In [ ]:
total_staff_sep_2016

In [ ]:
staff_sep_2016.groupby('region_name').sum()

In [ ]:
region_staff_sep_2016.sort_values('region_name')

### Trusts and CCGs

Trusts have IDs that seem to start with R or T.

In [ ]:
[
    staff_sep_2016.organisation.str.startswith('R').sum(),
    staff_sep_2016.organisation.str.startswith('T').sum(),
    staff_sep_2016.organisation_name.str.contains('Trust').sum()
]

In [ ]:
[
    staff_sep_2016.organisation.str.match(r'^[RT]').sum(),
    (~staff_sep_2016.organisation.str.match(r'^[RT]')).sum(),
    staff_sep_2016.organisation_name.str.contains('CCG').sum()
]

In [ ]:
staff_sep_2016_trusts = staff_sep_2016[staff_sep_2016.organisation.str.match(r'^[RT]')]
staff_sep_2016_trusts.shape

## Staffing Data (September 2009-2016)

This dataset should let us get total numbers of staff, but it's a bit older.

In [ ]:
staff_sep = pd.read_excel(
    'input/Staff_by_staff_group__nationality_and_organisation__September_2009_to_2016.xlsx',
    sheet_name='Data')
staff_sep.shape

In [ ]:
staff_sep = staff_sep.rename(columns={
    'Month': 'month',
    'Org code': 'organisation',
    'Org name': 'organisation_name',
    'Staff group': 'staff_group',
    'Nationality': 'nationality',
    'FTE': 'fte'
})
staff_sep.head()

### Check Columns

#### month

In [ ]:
staff_sep.month.unique()

In [ ]:
staff_sep['year'] = staff_sep.month.str.extract(r'^(\d+)', expand=False).astype('int32')
staff_sep.year.unique()

#### organisation

In [ ]:
[
    staff_sep.organisation.isna().sum(),
    (staff_sep.organisation != staff_sep.organisation.str.strip()).sum(),
    (staff_sep.organisation != staff_sep.organisation.str.upper()).sum(),
    staff_sep.organisation.unique().shape,
    staff_sep.organisation[staff_sep.organisation.str.match(r'^[RT]')].unique().shape
]

In [ ]:
staff_sep_trusts = staff_sep.organisation[staff_sep.organisation.str.match(r'^[RT]')].unique()
staff_sep_trusts

In [ ]:
[
    set(staff_trusts.organisation) - set(staff_sep_trusts),
    set(staff_sep_trusts) - set(staff_trusts.organisation)
]

In [ ]:
staff[staff.organisation == 'R1L'].head()

Apparently R1L was only formed in 2017.

In [ ]:
[
    set(staff_sep_2016_trusts.organisation) - set(staff_sep_trusts),
    set(staff_sep_trusts) - set(staff_sep_2016_trusts.organisation)
]

#### staff_group

In [ ]:
staff_sep.staff_group.unique()

#### nationality

Lists of EU and UK nationalities are from `EU_and_UK_nationals_by_staff_group_and_organisation__September_2016`.

In [ ]:
staff_sep_nationality = set(staff_sep.nationality)
staff_sep_nationality

In [ ]:
EU_NATIONALITIES = [
    x.strip()
    for x in 'Austrian, Belgian, Bulgarian, Croatian, Cypriot, Czech, Danish, Dutch, Estonian,' \
    ' Finnish, French, German, Greek, Hungarian, Irish, Italian, Latvian, Lithuanian, Luxembourg,' \
    ' Maltese, Polish, Portuguese, Romanian, Slovak, Slovenian, Spanish, Swedish'.split(',')
]
EU_NATIONALITIES

In [ ]:
UK_NATIONALITIES = [
    x.strip()
    for x in 'British, English, Northern Irish, Scottish, Welsh'.split(',')
]
UK_NATIONALITIES

In [ ]:
[
    set(EU_NATIONALITIES) - staff_sep_nationality,
    set(UK_NATIONALITIES) - staff_sep_nationality
]

#### fte

In [ ]:
staff_sep.fte.isna().sum()

In [ ]:
staff_sep.fte.describe()

### Aggregate

In [ ]:
staff_sep_agg = staff_sep.copy()
staff_sep_agg['nationality_group'] = 'other'
staff_sep_agg.loc[staff_sep_agg.nationality.isin(EU_NATIONALITIES), 'nationality_group'] = 'eu'
staff_sep_agg.loc[staff_sep_agg.nationality.isin(UK_NATIONALITIES), 'nationality_group'] = 'uk'
staff_sep_agg.loc[staff_sep_agg.nationality == 'Unknown', 'nationality_group'] = 'unknown'
staff_sep_agg.head()

In [ ]:
staff_sep_agg['staff_kind'] = 'other'
staff_sep_agg.loc[staff_sep_agg.staff_group == 'HCHS doctors', 'staff_kind'] = 'doctors'
staff_sep_agg.loc[staff_sep_agg.staff_group == 'Nurses & health visitors', 'staff_kind'] = 'nurses'
staff_sep_agg.head()

In [ ]:
staff_sep_fte = staff_sep_agg.groupby(
    ['year', 'organisation', 'organisation_name', 'nationality_group', 'staff_kind']
).fte.sum().reset_index()
staff_sep_fte.head()

In [ ]:
staff_sep_fte_trusts = staff_sep_fte[staff_sep_fte.organisation.str.match(r'^[RT]')]
staff_sep_fte_trusts.head()

In [ ]:
staff_sep_2016_sub = staff_sep_fte_trusts[staff_sep_fte_trusts.year == 2016].drop('year', axis=1)

staff_sep_2016_total = staff_sep_2016_sub.pivot_table(
    values='fte',
    index='nationality_group',
    columns='staff_kind',
    aggfunc=np.sum,
    margins=True
)
staff_sep_2016_total

In [ ]:
total_staff_sep_2016

In [ ]:
staff_sep_2016_pivot = staff_sep_2016_sub.copy()
staff_sep_2016_pivot['nationality_kind'] = 'non_eu'
staff_sep_2016_pivot.loc[
    staff_sep_2016_pivot.nationality_group == 'eu', 'nationality_kind'] = 'eu'
staff_sep_2016_pivot.loc[
    staff_sep_2016_pivot.nationality_group == 'unknown', 'nationality_kind'] = 'unknown'

staff_sep_2016_pivot = staff_sep_2016_pivot.groupby([
    'organisation', 'organisation_name', 'staff_kind', 'nationality_kind'
]).fte.sum().reset_index()

staff_sep_2016_pivot = staff_sep_2016_pivot.pivot_table(
    values='fte',
    index=['organisation', 'organisation_name', 'staff_kind'],
    columns='nationality_kind',
    aggfunc=np.sum,
    fill_value=0.0
)

staff_sep_2016_pivot.eu = round(staff_sep_2016_pivot.eu)
staff_sep_2016_pivot.non_eu = round(staff_sep_2016_pivot.non_eu)
staff_sep_2016_pivot.unknown = round(staff_sep_2016_pivot.unknown)

staff_sep_2016_pivot = staff_sep_2016_pivot.unstack()
staff_sep_2016_pivot.columns = ['_'.join(col).strip() for col in staff_sep_2016_pivot.columns.values]
staff_sep_2016_pivot.reset_index(inplace=True)
staff_sep_2016_pivot.head()

In [ ]:
staff_sep_2016_trusts.sort_values('organisation')[[
    'organisation', 'hchs_doctors_eu', 'nurses_visitors_eu', 'other_eu',
    'hchs_doctors_uk', 'nurses_visitors_uk', 'other_uk'
]].head()

The 'other' counts seem to be consistently lower. I wonder whether that's because of headcount in `staff_sep_2016` vs FTEs in `staff_sep`?

### Staff Levels Over Time

In [ ]:
staff_sep_agg.groupby(['year', 'nationality_group']).aggregate({'fte': sum}).unstack().plot()

## Staffing Data (September 2017; June 2018)

Update to the data above.

In [ ]:
staff_jun = pd.read_excel(
    'input/hchs-staff-by-staff-group-nationality-and-organisation-september-2017-and-june-2018_ah2324.xlsx',
    sheet_name='Data')
staff_jun.shape

In [ ]:
staff_jun = staff_jun.rename(columns={
    'Month': 'month',
    'Organisation code': 'organisation',
    'Organisation name': 'organisation_name',
    'Staff group': 'staff_group',
    'Nationality': 'nationality',
    'FTE': 'fte'
})
staff_jun.head()

### Check Columns

#### month

In [ ]:
staff_jun.month.unique()

In [ ]:
staff_jun['year'] = staff_jun.month.str.extract(r'^(\d+)', expand=False).astype('int32')
staff_jun.year.unique()

#### organisation

In [ ]:
[
    staff_jun.organisation.isna().sum(),
    (staff_jun.organisation != staff_jun.organisation.str.strip()).sum(),
    (staff_jun.organisation != staff_jun.organisation.str.upper()).sum(),
    staff_jun.organisation.unique().shape,
    staff_jun.organisation[staff_jun.organisation.str.match(r'^[RT]')].unique().shape
]

In [ ]:
staff_jun_trusts = staff_jun.organisation[staff_jun.organisation.str.match(r'^[RT]')].unique()
staff_jun_trusts

In [ ]:
[
    set(staff_trusts.organisation) - set(staff_jun_trusts),
    set(staff_jun_trusts) - set(staff_trusts.organisation)
]

In [ ]:
staff_jun[staff_jun.organisation == 'R0A'].head(1)

"Manchester University NHS Foundation Trust (MFT) was formed on 1st October 2017 following the merger of Central Manchester University Hospitals NHS Foundation Trust (CMFT) and University Hospital of South Manchester NHS Foundation Trust (UHSM)." (https://mft.nhs.uk/)

#### staff_group

In [ ]:
staff_jun.staff_group.unique()

#### nationality

Lists of EU and UK nationalities are as defined for the 2009-2016 data above.

In [ ]:
staff_jun_nationality = set(staff_jun.nationality)
[
    set(EU_NATIONALITIES) - staff_jun_nationality,
    set(UK_NATIONALITIES) - staff_jun_nationality
]

#### fte

In [ ]:
staff_jun.fte.isna().sum()

In [ ]:
staff_jun.fte.describe()

### Aggregate

In [ ]:
staff_jun_agg = staff_jun.copy()
staff_jun_agg['nationality_group'] = 'other'
staff_jun_agg.loc[staff_jun_agg.nationality.isin(EU_NATIONALITIES), 'nationality_group'] = 'eu'
staff_jun_agg.loc[staff_jun_agg.nationality.isin(UK_NATIONALITIES), 'nationality_group'] = 'uk'
staff_jun_agg.loc[staff_jun_agg.nationality == 'Unknown', 'nationality_group'] = 'unknown'
staff_jun_agg.head()

In [ ]:
staff_jun_agg['staff_kind'] = 'other'
staff_jun_agg.loc[staff_jun_agg.staff_group == 'HCHS doctors', 'staff_kind'] = 'doctors'
staff_jun_agg.loc[staff_jun_agg.staff_group == 'Nurses & health visitors', 'staff_kind'] = 'nurses'
staff_jun_agg.head()

In [ ]:
staff_jun_fte = staff_jun_agg.groupby(
    ['year', 'organisation', 'organisation_name', 'nationality_group', 'staff_kind']
).fte.sum().reset_index()
staff_jun_fte.head()

In [ ]:
staff_jun_fte_trusts = staff_jun_fte[staff_jun_fte.organisation.str.match(r'^[RT]')]
staff_jun_fte_trusts.head()

In [ ]:
staff_sep_2017_sub = staff_jun_fte_trusts[staff_jun_fte_trusts.year == 2017].drop('year', axis=1)

staff_sep_2017_total = staff_sep_2017_sub.pivot_table(
    values='fte',
    index='nationality_group',
    columns='staff_kind',
    aggfunc=np.sum,
    margins=True
)
staff_sep_2017_total

In [ ]:
staff_sep_2017_pivot = staff_sep_2017_sub.copy()
staff_sep_2017_pivot['nationality_kind'] = 'non_eu'
staff_sep_2017_pivot.loc[
    staff_sep_2017_pivot.nationality_group == 'eu', 'nationality_kind'] = 'eu'
staff_sep_2017_pivot.loc[
    staff_sep_2017_pivot.nationality_group == 'unknown', 'nationality_kind'] = 'unknown'

staff_sep_2017_pivot = staff_sep_2017_pivot.groupby([
    'organisation', 'organisation_name', 'staff_kind', 'nationality_kind'
]).fte.sum().reset_index()

staff_sep_2017_pivot = staff_sep_2017_pivot.pivot_table(
    values='fte',
    index=['organisation', 'organisation_name', 'staff_kind'],
    columns='nationality_kind',
    aggfunc=np.sum,
    fill_value=0.0
)

staff_sep_2017_pivot.eu = round(staff_sep_2017_pivot.eu)
staff_sep_2017_pivot.non_eu = round(staff_sep_2017_pivot.non_eu)
staff_sep_2017_pivot.unknown = round(staff_sep_2017_pivot.unknown)

staff_sep_2017_pivot = staff_sep_2017_pivot.unstack()
staff_sep_2017_pivot.columns = ['_'.join(col).strip() for col in staff_sep_2017_pivot.columns.values]
staff_sep_2017_pivot.reset_index(inplace=True)
staff_sep_2017_pivot.head()

In [ ]:
staff_sep_2016_trusts.sort_values('organisation')[[
    'organisation', 'hchs_doctors_eu', 'nurses_visitors_eu', 'other_eu',
    'hchs_doctors_uk', 'nurses_visitors_uk', 'other_uk'
]].head()

The 'other' counts again seem to be consistently lower.

In [ ]:
staff_jun_2018_sub = staff_jun_fte_trusts[staff_jun_fte_trusts.year == 2018].drop('year', axis=1)

staff_jun_2018_total = staff_jun_2018_sub.pivot_table(
    values='fte',
    index='nationality_group',
    columns='staff_kind',
    aggfunc=np.sum,
    margins=True
)
staff_jun_2018_total

In [ ]:
staff_jun_2018_pivot = staff_jun_2018_sub.copy()
staff_jun_2018_pivot['nationality_kind'] = 'non_eu'
staff_jun_2018_pivot.loc[
    staff_jun_2018_pivot.nationality_group == 'eu', 'nationality_kind'] = 'eu'
staff_jun_2018_pivot.loc[
    staff_jun_2018_pivot.nationality_group == 'unknown', 'nationality_kind'] = 'unknown'

staff_jun_2018_pivot = staff_jun_2018_pivot.groupby([
    'organisation', 'organisation_name', 'staff_kind', 'nationality_kind'
]).fte.sum().reset_index()

staff_jun_2018_pivot = staff_jun_2018_pivot.pivot_table(
    values='fte',
    index=['organisation', 'organisation_name', 'staff_kind'],
    columns='nationality_kind',
    aggfunc=np.sum,
    fill_value=0.0
)

staff_jun_2018_pivot.eu = round(staff_jun_2018_pivot.eu)
staff_jun_2018_pivot.non_eu = round(staff_jun_2018_pivot.non_eu)
staff_jun_2018_pivot.unknown = round(staff_jun_2018_pivot.unknown)

staff_jun_2018_pivot = staff_jun_2018_pivot.unstack()
staff_jun_2018_pivot.columns = ['_'.join(col).strip() for col in staff_jun_2018_pivot.columns.values]
staff_jun_2018_pivot.reset_index(inplace=True)
staff_jun_2018_pivot.head()

### Staff Levels Over Time

In [ ]:
staff_time = pd.concat([staff_sep_agg, staff_jun_agg])

staff_time.month = pd.to_datetime(staff_time.month, format='%Y-%b')

staff_time_agg = staff_time.groupby(['month', 'nationality_group']).\
    aggregate({'fte': sum}).unstack()

staff_time_known = staff_time_agg.copy()
staff_time_known[('fte', 'total')] = \
    staff_time_agg[('fte', 'eu')] + staff_time_agg[('fte', 'uk')] + staff_time_agg[('fte', 'other')]
staff_time_known[('fte', 'eu')] /= staff_time_known[('fte', 'total')]
staff_time_known[('fte', 'uk')] /= staff_time_known[('fte', 'total')]
staff_time_known[('fte', 'other')] /= staff_time_known[('fte', 'total')]
staff_time_known.drop(columns=[('fte', 'unknown'), ('fte', 'total')], inplace=True)

staff_time_known.plot(stacked=True, marker='.')

In [ ]:
staff_time_known.plot(marker='.')

In [ ]:
staff_time_with_unknown = staff_time_agg.copy()
staff_time_with_unknown[('fte', 'total')] = \
    staff_time_agg[('fte', 'eu')] + staff_time_agg[('fte', 'uk')] + \
    staff_time_agg[('fte', 'other')] + staff_time_agg[('fte', 'unknown')]
staff_time_with_unknown[('fte', 'eu')] /= staff_time_with_unknown[('fte', 'total')]
staff_time_with_unknown[('fte', 'uk')] /= staff_time_with_unknown[('fte', 'total')]
staff_time_with_unknown[('fte', 'other')] /= staff_time_with_unknown[('fte', 'total')]
staff_time_with_unknown[('fte', 'unknown')] /= staff_time_with_unknown[('fte', 'total')]
staff_time_with_unknown.drop(columns=[('fte', 'total')], inplace=True)

staff_time_with_unknown.plot(stacked=True, marker='.')

In [ ]:
staff_time_with_unknown.plot(marker='.')

In [ ]:
import seaborn as sns

In [ ]:
staff_time.head()

In [ ]:
def make_staff_time_relative_known():
    # Find FTE for each staff kind, relative to total FTE for each
    # nationality group, ignoring unknowns.
    d = pd.pivot_table(
        staff_time[
            staff_time.organisation.str.match(r'^[RT]') &
            (staff_time.nationality_group != 'unknown')],
        values='fte',
        index=['month', 'organisation', 'staff_kind'],
        columns='nationality_group',
        aggfunc=np.sum,
        margins=True,
        fill_value=0)
    d = d.iloc[:-1] # drop last row of margins
    d.eu /= d.All
    d.other /= d.All
    d.uk /= d.All
    d.drop(columns='All', inplace=True)
    
    d = d.stack()
    d.name = 'fte'
    return d.reset_index()
    
staff_time_relative_known = make_staff_time_relative_known()
staff_time_relative_known.head()

In [ ]:
sns.relplot(
    x='month', y='fte', col='nationality_group',
    hue='staff_kind',
    facet_kws=dict(sharey=False),
    kind='line', legend='full', data=staff_time_relative_known)

In [ ]:
sns.relplot(
    x='month', y='fte', col='staff_kind',
    hue='nationality_group',
    kind='line', legend='full', data=staff_time_relative_known)

In [ ]:
sns.catplot(
    x='staff_kind', y='fte', col='nationality_group',
    kind='violin',
    data=staff_time_relative_known[(staff_time_relative_known.month == '2018-06-01')])

In [ ]:
def find_trusts_with_most_eu_staff():
    d = pd.pivot_table(
        staff_time[
            (staff_time.month == '2018-06-01') &
            staff_time.organisation.str.match(r'^[RT]') &
            (staff_time.nationality_group != 'unknown')],
        values='fte',
        index=['organisation'],
        columns='nationality_group',
        aggfunc=np.sum,
        margins=True,
        fill_value=0)
    d = d.iloc[:-1] # drop last row of margins
    d.eu /= d.All
    d.other /= d.All
    d.uk /= d.All
    return d.sort_values('eu', ascending=False)
find_trusts_with_most_eu_staff().head()

In [ ]:
def find_national_summary_stats():
    d = pd.pivot_table(
        staff_time[
            (staff_time.month == '2018-06-01') & 
            staff_time.organisation.str.match(r'^[RT]') &
            (staff_time.nationality_group != 'unknown')],
        values='fte',
        index='staff_kind',
        columns='nationality_group',
        aggfunc=np.sum,
        margins=True)
    d['eu_percent'] = 100 * d.eu / d.All
    return d
find_national_summary_stats()

In [ ]:
def find_trusts_with_most_eu_staff_by_kind():
    d = pd.pivot_table(
        staff_time[
            (staff_time.month == '2018-06-01') &
            staff_time.organisation.str.match(r'^[RT]') &
            (staff_time.nationality_group != 'unknown')],
        values='fte',
        index=['organisation', 'staff_kind'],
        columns='nationality_group',
        aggfunc=np.sum,
        margins=True,
        fill_value=0)
    d = d.iloc[:-1] # drop last row of margins
    d.eu /= d.All
    d.other /= d.All
    d.uk /= d.All
    return d.sort_values('eu', ascending=False)
find_trusts_with_most_eu_staff_by_kind().head(10)

## Postcodes (nhs.uk data)

https://www.nhs.uk/about-us/nhs-website-datasets/

In particular:

http://media.nhschoices.nhs.uk/data/foi/Hospital.csv

In [ ]:
hospitals = pd.read_csv('input/Hospital.csv', encoding='ISO-8859-1', sep='\xAC', engine='python')
hospitals.head()

### Check Columns
#### OrganisationCode

In [ ]:
[
    hospitals.shape,
    hospitals.OrganisationCode.isna().sum(),
    hospitals.OrganisationCode.str.len().unique()
]

#### OrganisationType and SubType

In [ ]:
[
    hospitals.OrganisationType.isna().sum(),
    hospitals.OrganisationType.unique(),
    hospitals.SubType.isna().sum(),
    hospitals.SubType.unique()
]

In [ ]:
hospitals.SubType.value_counts()

#### Sector

In [ ]:
[
    hospitals.Sector.isna().sum(),
    hospitals.Sector.unique()
]

In [ ]:
hospitals.Sector.value_counts()

#### OrganisationStatus

In [ ]:
[
    hospitals.OrganisationStatus.isna().sum(),
    hospitals.OrganisationStatus.unique()
]

#### IsPimsManaged

In [ ]:
[
    hospitals.IsPimsManaged.isna().sum(),
    hospitals.IsPimsManaged.unique(),
    hospitals.IsPimsManaged.value_counts()
]

#### OrganisationName

In [ ]:
[
    hospitals.OrganisationName.isna().sum(),
    (hospitals.OrganisationName != hospitals.OrganisationName.str.strip()).sum()
]

In [ ]:
hospitals.OrganisationName = hospitals.OrganisationName.str.strip()

#### Postcode

Fairly clean. We do have latitude and longitude for the missing ones, but for now let's leave them out.

In [ ]:
ukpostcodes = pd.read_csv('../postcodes/input/ukpostcodes.csv.gz')
ukpostcodes.shape

In [ ]:
hospitals.Postcode.isin(ukpostcodes.postcode).sum()

In [ ]:
hospitals['postcode'] = hospitals.Postcode.\
    str.upper().\
    str.strip().\
    str.replace(r'[^A-Z0-9]', '').\
    str.replace(r'^(\S+)([0-9][A-Z]{2})$', r'\1 \2')

In [ ]:
hospitals.postcode.isin(ukpostcodes.postcode).sum()

In [ ]:
hospitals.postcode[~hospitals.postcode.isin(ukpostcodes.postcode)].unique()

#### ParentODSCode

Many of the missing are private. We also seem to be missing Manchester (R0A).

In [ ]:
[
    hospitals.ParentODSCode.isna().sum(),
    (hospitals.ParentODSCode != hospitals.ParentODSCode.str.upper()).sum(),
    (hospitals.ParentODSCode != hospitals.ParentODSCode.str.strip()).sum()
]

In [ ]:
hospitals.ParentODSCode.isin(staff.organisation).sum()

In [ ]:
tmp = hospitals[~hospitals.ParentODSCode.isin(staff.organisation)]
tmp[~tmp.ParentODSCode.duplicated()]

#### Website

Probably not that helpful, but see what we have.

In [ ]:
[
    hospitals.Website.isna().sum()
]

#### Tidy Up Columns

In [ ]:
clean_hospitals = hospitals[[
    'OrganisationCode',
    'ParentODSCode',
    'OrganisationName',
    'postcode',
    'SubType',
    'Sector',
    'IsPimsManaged',
]].rename(columns={
    'OrganisationCode': 'hospital_organisation',
    'ParentODSCode': 'organisation',
    'OrganisationName': 'hospital_name',
    'SubType': 'sub_type',
    'Sector': 'sector',
    'IsPimsManaged': 'is_pims_managed',
})
clean_hospitals = clean_hospitals[clean_hospitals.postcode.isin(ukpostcodes.postcode)].copy()
clean_hospitals.head()

## Postcodes (etrust)

In [ ]:
etrust_column_names = [
    'organisation_code', 'name', 'national_grouping', 'high_level_health_geography',
    'address_1', 'address_2', 'address_3', 'address_4', 'address_5', 'raw_postcode',
    'open_date', 'close_date', 'null_13', 'null_14', 'null_15', 'null_16', 'null_17',
    'contact_telephone_number', 'null_19', 'null_20', 'null_21',
    'amended_record_indicator', 'null_23', 'gor_code', 'null_25', 'null_26', 'null_27'
]
etrust = pd.read_csv(
    'input/etrust.csv.gz', names=etrust_column_names, low_memory=False,
    dtype={'open_date': object, 'close_date': object})
etrust.head()

In [ ]:
etrust.shape

In [ ]:
etrust_null_columns = [name for name in etrust_column_names if name.startswith('null_')]
etrust_null_counts = [
    etrust[column].isna().sum()
    for column in etrust_null_columns
]
assert len(set(etrust_null_counts)) == 1
assert etrust.shape[0] == etrust_null_counts[0]

In [ ]:
etrust.drop(columns=etrust_null_columns, inplace=True)
etrust.head()

### Check Organisation Codes

In [ ]:
[
    etrust.organisation_code.isna().sum(),
    (etrust.organisation_code.str.strip() != etrust.organisation_code).sum(),
    (etrust.organisation_code.str.upper() != etrust.organisation_code).sum()
]

In [ ]:
etrust_organisation_codes = set(etrust.organisation_code)
[
    etrust.shape,
    len(etrust_organisation_codes),
    set([len(code) for code in etrust_organisation_codes]),
    len([code for code in etrust_organisation_codes if code.startswith('R')])
]

In [ ]:
etrust_organisation_codes_3 = set([
    code
    for code in etrust_organisation_codes
    if len(code) == 3
])
[len(etrust_organisation_codes_3), list(etrust_organisation_codes_3)[0:10]]

In [ ]:
[
    staff.organisation.isin(etrust_organisation_codes).sum(),
    (staff.organisation.str.startswith('R') & ~staff.organisation.isin(etrust_organisation_codes)).sum()
]

The code prefixes should also match up.

In [ ]:
etrust['organisation'] = etrust.organisation_code.str[0:3]
etrust.organisation.head()

In [ ]:
etrust_organisations = set(etrust.organisation)
[len(etrust_organisation_codes_3), list(etrust_organisations)[0:10]]

In [ ]:
[
    etrust_organisations - etrust_organisation_codes_3,
    etrust_organisation_codes_3 - etrust_organisations
]

In [ ]:
etrust[etrust.organisation == 'RER']

### Check Postcodes

In [ ]:
etrust.raw_postcode.isin(ukpostcodes.postcode).sum()

In [ ]:
etrust['postcode'] = etrust.raw_postcode.\
    str.upper().\
    str.strip().\
    str.replace(r'[^A-Z0-9]', '').\
    str.replace(r'^(\S+)([0-9][A-Z]{2})$', r'\1 \2')

In [ ]:
etrust.postcode.isin(ukpostcodes.postcode).sum()

In [ ]:
etrust.raw_postcode[~etrust.postcode.isin(ukpostcodes.postcode)].unique()

Spot checks: all the ones I checked were discontinued postcodes.

### Closed Facilities

In [ ]:
[
    etrust.shape,
    etrust.close_date.isna().sum()
]

In [ ]:
clean_etrust = etrust[
    etrust.close_date.isna() & ~etrust.postcode.isna() &
    etrust.name.str.contains('HOSPITAL') &
    (etrust.organisation_code != etrust.organisation) &
    etrust.postcode.isin(ukpostcodes.postcode)
].drop(columns='raw_postcode')
clean_etrust.shape

In [ ]:
clean_etrust[clean_etrust.postcode == 'SE5 9RS']

## Merge `etrust` Postcodes

Take non-closed facilities with valid postcodes.

There are a lot of duplicates, e.g. `SE5 9RS` belongs to `RJZ` and `RJ7`, and at trust scale the postcodes also repeat. For the prototype, ignore them.

In [ ]:
etrust_hospital_postcodes = pd.merge(
    staff[['organisation']],
    clean_etrust[['organisation', 'postcode', 'name']],
    validate='1:m'
).sort_values(['organisation', 'postcode', 'name']).drop_duplicates()
etrust_hospital_postcodes.shape

In [ ]:
etrust_hospital_postcodes.head()

## Merge `nhs.uk` Postcodes

### 2016

In [ ]:
hospital_postcodes_2016 = pd.merge(
    staff_sep_2016_pivot[['organisation']],
    clean_hospitals[['organisation', 'postcode', 'hospital_organisation', 'hospital_name']],
    validate='1:m'
).sort_values(['organisation', 'postcode', 'hospital_organisation', 'hospital_name'])
hospital_postcodes_2016.shape

In [ ]:
hospital_postcodes_2016.head()

In [ ]:
(~hospital_postcodes_2016.organisation.str.match(r'^[RT]')).sum()

In [ ]:
[
    staff_sep_2016_pivot.shape,
    hospital_postcodes_2016.organisation.nunique(),
    hospital_postcodes_2016.hospital_organisation.nunique()
]

### 2018

In [ ]:
hospital_postcodes_2018 = pd.merge(
    staff_jun_2018_pivot[['organisation']],
    clean_hospitals[['organisation', 'postcode', 'hospital_organisation', 'hospital_name']],
    validate='1:m'
).sort_values(['organisation', 'postcode', 'hospital_organisation', 'hospital_name'])
hospital_postcodes_2018.shape

In [ ]:
hospital_postcodes_2018.head()

In [ ]:
(~hospital_postcodes_2018.organisation.str.match(r'^[RT]')).sum()

In [ ]:
[
    staff_jun_2018_pivot.shape,
    hospital_postcodes_2018.organisation.nunique(),
    hospital_postcodes_2018.hospital_organisation.nunique()
]

## Save Data

In [ ]:
staff_jun_2018_pivot.to_pickle('output/staff.pkl.gz')

In [ ]:
hospital_postcodes_2018.to_pickle('output/hospital_postcodes.pkl.gz')